* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #FFFFFF;
    --bg-url: url(./assets/bg-mobile-dark.jpg);
    --background-color:  rgba(255, 255, 255, 0.1);
    --border-color: rgba(255, 255, 255, 0.5);
    --border-color-hover: rgba(255, 255, 255, 1);
    --background-color-hover: rgba(0, 0, 0, 0.02);
    --hight-light-color: rgba(255, 255, 255, 0.2);
    --transition-icon: url(./assets/moonstars.svg);
    --color-link-name: #223850;
    --color-link-name-hover: #2238507c;
}

.light {
    --text-color: #000000;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --background-color: rgba(0, 0, 0, 0);
    --border-color: rgb(0, 0, 0, 0.5);
    --border-color-hover: #000000;
    --background-color-hover: rgba(0, 0, 0, 0.04);
    --hight-light-color: rgba(0, 0, 0, 0.1);
    --transition-icon: url(./assets/sun.svg);
    --color-link-name: #B227FF;
    --color-link-name-hover: #b327ff7e;
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    transition: 0.3s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
    margin: 56px auto 0px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: #FFFFFF var(--transition-icon) no-repeat center;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    animation: slide-out 0.2s;
}

#switch button:hover {
    cursor: pointer;
    outline: 8px solid var(--hight-light-color);
}

#switch span {
    width: 64px;
    height: 24px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 9999px;
    display: block;
    -webkit-backdrop-filter: blur(4px);
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.links {
    width: 50vw;
    min-width: 312px;
    max-width: 540px;
    height: 56px;
    font-size: 16px;
    background: var(--background-color) ;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(4px);
    color: var(--text-color);
    transition: 0.3s;
}

.links:hover {
    background: var(--background-color-hover);
    cursor: pointer;
    border: 1.5px solid var(--border-color-hover);

}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

#socials a {
    display: flex;
    font-size: 24px;
    color: var(--text-color);
    padding: 16px;
    transition: 0.3s;
    border-radius: 50%;
}

footer {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 24px;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    size: 16px;
    line-height: 24px;
}

#perfil-image {
    width: 112px;
}

#socials a:hover {
    background-color: var(--hight-light-color);
    
}

.link-nome {
    text-decoration: none;
    color: var(--color-link-name);
}

.link-nome:hover {
    color: var(--color-link-name-hover);
}

@media (min-width:700px) {
    :root {
        --bg-url: url(./assets/bg-desktop-dark.jpg)
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg)
    }

}

@keyframes slide-in {
    from {
        left:0;
    }
    to {
        left:50%;
    }
}

@keyframes slide-out {
    from {
        left:50%;
    }
    to {
        left:0;
    }
}